*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
.bundle-cache/
.bundle-home/
.home/
.gem-bin/
.gem-bin-test/
.gem-bin-local-test/
.gem-cache/
.gem-cache-test/
.gem-cache-test2/
.gem-cache-local-test/
.gem-home/
.gem-test/
.gem-local-test/
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
